html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #111;
  color: white;
  font-family: sans-serif;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  padding: 5px;
  background-color: #222;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #444;
}

.map-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.base-map {
  max-height: 75vh;
  max-width: 100vw;
  height: auto;
  width: auto;
  display: block;
  /* z-index: 0; */
}

.track-icons-layer {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
  pointer-events: none;
  border: 3px solid green; /* for debugging */
}

.track-icons-layer img {
  position: absolute;
  /* z-index: 3; */
  pointer-events: auto;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.track-icons-layer img:hover {
  transform: scale(1.34);
  /* filter: drop-shadow(0 0 20px red); */
}

.track-icons-layer img.iconSelected {
  transform: scale(2);
  /* filter: drop-shadow(0 0 15px black); */
}
